e-service/ES/Service References/Service.GSP2/accountingservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.chtd.com.tw" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.chtd.com.tw" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.chtd.com.tw">
      <s:element name="ConfirmTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConnectionPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionTransactionKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmTransactionResult" type="tns:ConfirmResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConfirmResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:WSBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ResultInfo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ConfirmResults" type="tns:ArrayOfConfirmResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="WSBase" />
      <s:complexType name="ConfirmResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:WSBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SessionKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="InfoNO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TransactionResult" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ApproveNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AuthDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SettleDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HostTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Others" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfConfirmResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConfirmResult" nillable="true" type="tns:ConfirmResult" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConfirmTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmTransaction" />
  </wsdl:message>
  <wsdl:message name="ConfirmTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountingServiceSoap">
    <wsdl:operation name="ConfirmTransaction">
      <wsdl:input message="tns:ConfirmTransactionSoapIn" />
      <wsdl:output message="tns:ConfirmTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountingServiceSoap" type="tns:AccountingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmTransaction">
      <soap:operation soapAction="http://www.chtd.com.tw/ConfirmTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AccountingServiceSoap12" type="tns:AccountingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmTransaction">
      <soap12:operation soapAction="http://www.chtd.com.tw/ConfirmTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountingService">
    <wsdl:port name="AccountingServiceSoap" binding="tns:AccountingServiceSoap">
      <soap:address location="https://ep.cp.gov.tw/payment/webservices/accountingservice.asmx" />
    </wsdl:port>
    <wsdl:port name="AccountingServiceSoap12" binding="tns:AccountingServiceSoap12">
      <soap12:address location="https://ep.cp.gov.tw/payment/webservices/accountingservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>